<div class="row" style="padding:10px; margin:30px;">
    <div class="col-md-12">

        <h5>Loan Products</h5>
        <hr/>
        <button class="btn btn-primary btn-small" id="add_new_product">Add New</button> 
        <span id="wait_list"><img width="20" height="20" src="img/loader.gif" />Loading...</span>
        <div id="page_section">

        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
    $("#wait_list").fadeOut(); 
    $("#page_section").empty();
    $("#wait_list").show();
    document.title="Products";
    $("#page_section").load("views/list_products.php",function(responseTxt, statusTxt, jqXHR){
    if(statusTxt == "success"){$("#wait_list").hide();}
    if(statusTxt == "error"){alert("Error: " + jqXHR.status + " " + jqXHR.statusText);}
    });

         $("#add_new_product").click(function(){
            $("#page_section").empty();
            $("#wait_list").show();
             document.title="Add Product";
            $("#page_section").load("views/new_product.php",function(responseTxt, statusTxt, jqXHR){
            if(statusTxt == "success"){$("#wait_list").hide();}
            if(statusTxt == "error"){alert("Error: " + jqXHR.status + " " + jqXHR.statusText);}
            }); 	 
        }); 

   
});

function editItem(item_id){
    $("#page_section").empty();
            $("#wait_list").show();
             document.title="Edit Product";
            $("#page_section").load("views/edit_product.php?item_id="+item_id,function(responseTxt, statusTxt, jqXHR){
            if(statusTxt == "success"){$("#wait_list").hide();}
            if(statusTxt == "error"){alert("Error: " + jqXHR.status + " " + jqXHR.statusText);}
            });  
}
</script>